

<center>
<h2>Asciify result</h2>
<div id="content">
<p>입력한 폰트 : <%=@font%></p>
<pre><%= @output_name%></pre>
<pre><%=@output_tel%></pre>
<pre><%=@output_testname%></pre>
<pre><%= @output_tdate%></pre>
<pre><%=@output_testdate%></pre>

<a href='/'>index로 돌아가기</a>
</div>
</center>
